projectile-bookmarks.eld
elpa/archives/gnu/archive-contents.signed
elpa/archives/melpa/archive-contents
/transient/
/desktops/
/tutorial/
/games/
eln-cache/
var/
parinfer-rust/
auto-save-list/

forge-database.sqlite
projectile.cache
/straight/build-cache.el
/straight/build/
/straight/repos/
