projectile-bookmarks.eld
elpa/archives/gnu/archive-contents.signed
elpa/archives/melpa/archive-contents
/transient/
/desktops/
/tutorial/
/games/
eln-cache/
straight/
var/
parinfer-rust/
auto-save-list/